body {
    font-family:'Courier New', Courier, monospace;
    background-size: 48px 18px;
    background-color: #bfc2c4;
    background-image: 
    linear-gradient(90deg, #607584 1%, transparent 2%), 
    linear-gradient(45deg, transparent 7%, #607584 10%, transparent 10%, transparent 35%, #607584 37%, transparent 33%), 
    linear-gradient(-45deg, transparent 8%, #E6EBED 10%, transparent 10%, transparent 35%, #E6EBED 37%, transparent 33%);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.user-card {
    float: left;
    clear: right;
    border: 2px solid black;
    width: min-content;
    text-align: center;
    padding: 0;
    margin: 5px 10px 10px 10px;
}

.user-card img {
    vertical-align: middle;
    margin: 0px;
}

.user-card p {
    border-top: 2px solid black;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(135deg, gray 5%,silver 5%, white 15%, silver 15%,silver 50%,white 50%, silver 50%,gray 87%, white 87%,silver 95%,gray 95%)
}

.description-card {
    float: left;
    width: 60%;
    border: 2px solid black;
    margin-top: 5px;
    background-image: linear-gradient(60deg, rgb(212, 212, 212) 0%, white 50%, rgb(211, 211, 211) 100%)
}

.description-card li {
    padding-bottom: 15px;
}

.description-card h2 {
    margin-left: 40px;
}

.description-card li .decorative-web {
    color: rgb(80, 156, 255);
    font-weight: bold;
}

.description-card li a {
    color: rgb(255, 149, 167);
}

.description-card li a:active {
    color: rgb(255, 183, 195);
}

.description-card li a:visited {
    color: rgb(255, 53, 87);
}

.plans-card {
    float:left;
    margin-top: 10px;
    border: 2px solid black;
    width: 60%;
    background-color: #ffffff;
    background-image: linear-gradient(140deg, rgb(212, 212, 212) 0%, white 50%, rgb(211, 211, 211) 100%);
}

.plans-card h2 {
    margin-left: 40px;
}

.plans-card li {
    padding-bottom: 15px;
}

.rightnow-card {
    margin: 10px auto 0px auto;
    width: 98%;
    border: 2px solid black;
    background-image: linear-gradient(to top left, rgba(82, 82, 82, 0.5), rgba(99, 99, 99, 0.5), rgba(116, 116, 116, 0.5), 
    rgba(134, 134, 134, 0.6), rgba(151, 151, 151, 0.6), rgba(168, 168, 168, 0.6), 
    rgba(182, 182, 182,0.7), rgba(195, 195, 195,0.7), rgba(209, 209, 209, 0.7), 
    rgba(223, 223, 223, 0.8), rgba(236, 236, 236,0.8), rgba(250, 250, 250, 0.8));
}

.rightnow-card h2 {
    margin-left: 40px;
}

.rightnow-card li {
    padding-bottom: 15px;
}

.footer-social {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 0px;
}

.footer-social .social-item {
    padding: 0;

}

.footer-social .social-item a {
    display: inline-block;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 15px 40px 15px 55px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.footer-social .social-item:last-child a {
    border-right: 2px solid black;
}

.footer-social .instagram {
    background-image: url(img/social-insta-smol.png);
    background-repeat: no-repeat;
    background-position: 13px 50%;
    background-color: rgba(231, 231, 231, 0.5)
}

.footer-social .facebook {
    background-image: url(img/social-fb-smol.png);
    background-repeat: no-repeat;
    background-position: 12px 50%;
    background-color: rgba(231, 231, 231, 0.5)
}

.lang-eng {
    width: 98%;
    margin: 10px auto 0px auto;
}

.lang-eng a {
    display: inline-block;
    padding: 10px 10px 10px 50px;
    border: 2px solid black;
    background-color: rgba(255,255,255, 0.4);
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-image: url(img/en-flag.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
}